/* NOTE:
    https://en.wikipedia.org/wiki/Quotation_mark
    https://en.wikipedia.org/wiki/Guillemet
    https://en.wikipedia.org/wiki/CJK_Symbols_and_Punctuation
*/
/********************
** BGN: quote_name **
********************/
  /* channel name, TV network, brand/company name, author name, band name, singer name */
  html body span.quote_name {
    text-transform: capitalize;
  }
/********************
** END: quote_name **
********************/

/*********************
** BGN: quote_title **
*********************/
  /* movies, television, radio shows, books, periodicals, databases, websites */
    /* old print: underline */
    /* new style: italicized */

  /* PILIPINO and PHILIPPINE ENGLISH */
  :lang(en-PH) cite.quote_title,
  :lang(phi) cite.quote_title, :lang(fil) cite.quote_title,
  :lang(tbw) cite.quote_title, :lang(bku) cite.quote_title, :lang(hnn) cite.quote_title, :lang(tgl) cite.quote_title, :lang(tl) cite.quote_title
  {
    /* quotes: "«" "»" "‹" "›"; */
    quotes: "\00AB" "\00BB" "\2039" "\203A";
    font-style: normal;
  }

  /* CHINESE */
  :lang(zh) cite.quote_title,
  :lang(yue) cite.quote_title
  {
    /* quotes: "《" "》" "〈" "〉"; */
    quotes: "\300A" "\300B" "\3008" "\3009";
    font-style: normal;
  }

  /* JAPANESE */
  :lang(ja) cite.quote_title
  {
    /* quotes: "《" "》" "〈" "〉"; */
    quotes: "\300A" "\300B" "\3008" "\3009";
    font-style: normal;
  }

  /* KOREAN */
  :lang(ko) cite.quote_title
  {
    /* quotes: "《" "》" "〈" "〉"; */
    quotes: "\300A" "\300B" "\3008" "\3009";
    font-style: normal;
  }
/*********************
** END: quote_title **
*********************/

/********************
** BGN: quote_work **
********************/
  /* episodes, articles, essays, chapters, poems, songs, speeches */

  /* PILIPINO and PHILIPPINE ENGLISH */
  :lang(en-PH) q.quote_work,
  :lang(phi) q.quote_work, :lang(fil) q.quote_work,
  :lang(tbw) q.quote_work, :lang(bku) q.quote_work, :lang(hnn) q.quote_work, :lang(tgl) q.quote_work, :lang(tl) q.quote_work
  {
    /* quotes: "｢" "｣" "⌜" "⌟"; */
    quotes: "\FF62" "\FF63" "\231C" "\231F";
    font-style: normal;
  }

  /* CHINESE */
  :lang(zh) q.quote_work,
  :lang(yue) q.quote_work
  {
    /* quotes: "「" "」" "『" "』"; */
    quotes: "\300C" "\300D" "\300E" "\300F";
    font-style: normal;
  }

  /* JAPANESE */
  :lang(ja) q.quote_work
  {
    /* quotes: "「" "」" "『" "』"; */
    quotes: "\300C" "\300D" "\300E" "\300F";
    font-style: normal;
  }

  /* KOREAN */
  :lang(ko) q.quote_work
  {
    /* quotes: "「" "」" "『" "』"; */
    quotes: "\300C" "\300D" "\300E" "\300F";
    font-style: normal;
  }
/********************
** END: quote_work **
********************/

:lang(en-PH) cite.quote_title::before,
:lang(zh) cite.quote_title::before,
:lang(yue) cite.quote_title::before,
:lang(ja) cite.quote_title::before,
:lang(ko) cite.quote_title::before,
:lang(phi) cite.quote_title::before, :lang(fil) cite.quote_title::before,
:lang(tbw) cite.quote_title::before, :lang(bku) cite.quote_title::before, :lang(hnn) cite.quote_title::before, :lang(tgl) cite.quote_title::before, :lang(tl) cite.quote_title::before
{
  content: open-quote;
}
:lang(en-PH) q.quote_work::before,
:lang(zh) q.quote_work::before,
:lang(yue) q.quote_work::before,
:lang(ja) q.quote_work::before,
:lang(ko) q.quote_work::before,
:lang(phi) q.quote_work::before, :lang(fil) q.quote_work::before,
:lang(tbw) q.quote_work::before, :lang(bku) q.quote_work::before, :lang(hnn) q.quote_work::before, :lang(tgl) q.quote_work::before, :lang(tl) q.quote_work::before
{
  content: open-quote;
}

:lang(en-PH) cite.quote_title::after,
:lang(zh) cite.quote_title::after,
:lang(yue) cite.quote_title::after,
:lang(ja) cite.quote_title::after,
:lang(ko) cite.quote_title::after,
:lang(phi) cite.quote_title::after, :lang(fil) cite.quote_title::after,
:lang(tbw) cite.quote_title::after, :lang(bku) cite.quote_title::after, :lang(hnn) cite.quote_title::after, :lang(tgl) cite.quote_title::after, :lang(tl) cite.quote_title::after
{
  content: close-quote;
}

:lang(en-PH) q.quote_work::after,
:lang(zh) q.quote_work::after,
:lang(yue) q.quote_work::after,
:lang(ja) q.quote_work::after,
:lang(ko) q.quote_work::after,
:lang(phi) q.quote_work::after, :lang(fil) q.quote_work::after,
:lang(tbw) q.quote_work::after, :lang(bku) q.quote_work::after, :lang(hnn) q.quote_work::after, :lang(tgl) q.quote_work::after, :lang(tl) q.quote_work::after
{
  content: close-quote;
}
