{{- /*
  References:
    - https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout

  Supported in this shortcode:
    1. flexbox

  TODO:
    - Grid
*/ -}}
{{- /*
  Required Parent shortcode:
    layout
*/ -}}
{{- /* HOW TO
  {{% layout type="" %}}
    {{% layoutitem style="" %}}
      CONTENT
    {{% /layoutitem %}}
    {{< layoutitem style"" >}}
      CONTENT
    {{< /layoutitem >}}
  {{% /layout %}}
*/ -}}
{{- $style := .Get "style" | safeCSS -}}
{{- $inner := .InnerDeindent -}}
{{ with .Parent }}
  {{- $type := .Get "type" -}}
  <div class="yelosan---{{ $type }}__content"{{ with $style }} style="{{ . }}"{{ end }}>{{- $inner -}}</div>
{{ else }}
  <p>ERROR: This shortcode requires the layout shortcode.</p>
{{ end }}
